<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.smalldata.beehiveapp"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/new_beehive_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".onboarding.Step0AWelcomeStudyCode"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.NOTIFY" />
            </intent-filter>
        </activity>
        <activity android:name=".onboarding.Step0BLoginUser">
            <intent-filter android:label="Beehive Login">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "beehive://androidlogin” -->
                <data
                    android:host="androidlogin"
                    android:scheme="beehive" />
            </intent-filter>
            <intent-filter android:label="Beehive Login">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Accepts URIs that begin with "http://slm.smalldata.io/beehive-android-login” -->
                <data
                    android:host="slm.smalldata.io"
                    android:pathPrefix="/beehive-android-login"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter android:label="Beehive Login">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Accepts URIs that begin with "https://slm.smalldata.io/beehive-android-login” -->
                <data
                    android:host="slm.smalldata.io"
                    android:pathPrefix="/beehive-android-login"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".login.BeginStudy" />

        <receiver
            android:name=".notification.SingleAlarmReceiver"
            android:process=":singleReceiver" />
        <receiver
            android:name=".main.StartMyServiceAtBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service android:name=".fcm.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".main.AutoUpdateAlarm"
            android:process=":autoReceiver" />

        <service
            android:name=".main.AutoUpdateAlarmService"
            android:enabled="true"
            android:process=":autoService" />

        <receiver
            android:name=".notification.NotifClickORDismissReceiver"
            android:exported="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a89a2256d46d96dd8ec48a4fa61c26eba3db0baa" />

        <activity android:name=".main.AppInfo" />
        <activity android:name=".onboarding.Step1SleepWakeTime" />
        <activity
            android:name=".onboarding.Step2TimeWindow"
            android:parentActivityName=".onboarding.Step1SleepWakeTime">

            <!-- Accepts URIs that begin with "beehive://androidlogin" -->
            <data
                android:host="androidlogin"
                android:scheme="beehive" />
        </activity>
        <activity
            android:name=".onboarding.Step3OnboardingCompleted"
            android:parentActivityName=".onboarding.Step2TimeWindow" />

        <receiver
            android:name=".reboot.RebootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".onboarding.AboutApp"
            android:parentActivityName=".main.AppInfo" />

        <receiver android:name=".notification.DailyTaskReceiver" />

        <receiver android:name=".fcm.ServerPeriodicUpdateReceiver" />

        <activity android:name=".onboarding.EMA" />

        <service
            android:exported="false"
            android:name=".fcm.AppJobService">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </service>


    </application>

</manifest>